@import url('https://fonts.googleapis.com/css?family=Open+Sans|Spectral|Lobster|Pangolin|Inconsolata|Fjalla+One');

html, body{
	margin: 0;
	padding: 0;
	background-color: honeydew;
}

#container{
	margin: 0;
	height: 100%;
	width: 100%;
}

#title{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 0 20px 5px 20px;
	text-align: center;
	font-size: 4em;
	color: #FFFACD;
	font-family: 'Pangolin';
}

#board{
	margin: 0;
	top: 0;
	display: flex;
	position: relative;
	min-height: 100px;
	width: 100%;
	min-width: 1536px;
	background-color: seagreen;
}

#board_content{
	display: flex;
	margin: 30px 0 30px 0;
	width: 100%;
	min-width: 1450px;
}

#score{
	position: absolute;
	display: inline-block;
	left: 0;
	width: 200px;
	padding: 20px;
	margin-left: 30px;
	font-size: 2em;
	font-family: 'Fjalla One';
	color: #FFFACD;
	text-align: center;
	vertical-align: center;
}

#turns{
	position: absolute;
	display: inline-block;
	right: 0;
	width: 200px;
	padding: 20px;
	margin-right: 30px;
	font-size: 2em;
	font-family: 'Fjalla One';
	color: #FFFACD;
	text-align: center;
	vertical-align: center;
}

#middle{
	display: flex;
	position: relative;
	min-width: 1450px;
}

#grid{
	display: inline-block;
	position: relative;
	margin: 0 490px 0 490px;
	padding: 20px;
	min-width: 536px;
}

.rows{
	margin: 0;	
	padding: 2px 0 2px 2px;
	position: relative;
	display: inline-block;
	width: 100%;
	min-width: 520px;
}

#columns{
	margin: 0 auto;
	padding: 0;
	border: solid 2px #444444;
	padding: 0;
	display: inline-block;
	height: 122px;
	width: 122px;
	
	box-shadow: 3px 3px 5px #8A0017, 0px 0px 30px #8A0017;
}

#hide1, #unhide1, #unhide2, #unhide3, #unhide4, #unhide5, #unhide6, #unhide7, #unhide8, #unhide9, #unhide10, #unhide11, #unhide12, #unhide13, #unhide14, #unhide15, #unhide16{
	font-size: 4em;
	color: #8A0017;
	position: relative;
	display: flex;
	height: 122px;
	width: 122px;
	cursor: pointer;
}

#instructions{
	position: absolute;
	display: inline-block;
	margin-right: 50px; 
	top: 150px;
	right: 0;
	padding: 20px;
	width: 250px;
	font-size: 25px;
	font-family: 'Open Sans';
	border-radius: 5px;
	color: seagreen;
	box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5), 3px 3px 30px rgb(0, 0, 0, 0.5);
}

#new_game{
	position: absolute;
	top: 200px;
	display: inline-block;
	float: left;
	padding: 20px;
	margin-left: 50px;
	height: 120px;
	width: 100px;
	text-align: center;
	border-radius: 10px;
	transition: background-color 1s;
	transition: box-shadow 1s;
}

#new_game:hover{
	background-color: honeydew;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5), 0px 0px 30px rgb(0, 0, 0, 0.5);
}

#new_game_button{
	text-decoration: none;
	color: seagreen;
	font-size: 35px;
	font-family: Inconsolata;
	font-weight: bold;
}

#new_game1{
	position: absolute;
	margin: 50px 50px;
	text-align: center;
}



.new{
	display: flex;
	align-items: center;
	justify-content: center;
}

.element {
  height: 260px;
  width: 260px;
  margin: 220px auto 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}


@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeOut{
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes pulse{
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 500px) {
	#board{
	position: fixed;
	margin: 0;
	display: block flex;
	min-height: 100px;
	width: 100%;
	min-width: 100vw;
	z-index: 5;
	}
	
	#board_content{
		margin: 30px 0 30px 0;
		display: block flex;
		width: 100%;
		min-width: 100vw;
	}
	
	#score{
		width: 20vw;
		margin-top: 7vh;
		margin-left: 0px;
		font-size: 5vw;
	}
	
	#turns{
		width: 20vw;
		margin-top: 7vh;
		margin-right: 0px;
		font-size: 5vw;
	}
	
	#title{
		font-size: 15vw;
	}
	
	#middle{
		min-width: 100vw;
	}
	
	#new_game{
		top: 800px;
		margin: 10px;
		width: 80vw;
		height: 100px;
	}
	
	#new_game_button{
		font-size: 10vw;
	}
	#instructions{
		top: 200px;
		margin: 10px;
		width: 80vw;
		font-size: 5vw;
	}
	
	.rows{
		width: 100%;
		min-width: 320px;
		align-content: center;
		align-items: center;
	}
	
	#columns, #unhide1, #unhide2, #unhide3, #unhide4, #unhide5, #unhide6, #unhide7, #unhide8, #unhide9, #unhide10, #unhide11,
	#unhide12, #unhide13, #unhide14, #unhide15, #unhide16{
		width: 20vw;
		height: 20vw;
		font-size: 40px;
	}
	
	#grid{
		box-sizing: border-box;
		top: 400px;
		margin: 6vw;
		width: 100%;
		padding: 0;
		min-width: 320px;
		align-self: center;
		align-content: center;
		align-items: center;
		justify-content: center;
	}
	
        .element{
 		position: relative;
		margin: 0;
		top: 10px;
		
	}
}
